body {
  background: #0a0a0a;
}

.card_container {
  max-width: 350px;
  width: 100%;
  padding: 5px;
  background: #0a0a0a;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card_container:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

.image_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
}

/* Text section (glass effect) */
.text_box {
  background-color: #FFFFFF70;
  backdrop-filter: blur(8px) saturate(170%);
  border-radius: 15px;
  margin: 0 20px -20px 20px;
  padding: 15px 10px;
  transform: translateY(-40px);
}

.title_box h4 {
  margin-top: -20px;
}

.name {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  white-space: pre-line;
  font-family: "Manrope", Sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
}

.title {
  font-family: "Manrope", Sans-serif;
  color: #fff;
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Optional: Add a smooth hover glow around the card */
.card_container:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
